body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  h1{
    margin-bottom: 5rem;
    color: black;
    font: 700 larger;
  }
  p{
    color: gray;
  }
  .calculator {
    background-color: #3498db;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  
#display {   
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    background-color: #ecf0f1; 
    color: #333; 
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e0e0e0;
  }
  